
@font-face {
    src: url('fonts/GothamPro-Light.ttf') format('truetype'), url('fonts/GothamPro-Light.eot') format('truetype');
    font-family: 'GothamPro';
    font-weight: 200;
    font-display: swap;
}

@font-face {
    src: url('fonts/GothamPro.ttf') format('truetype'), url('fonts/GothamPro.eot') format('truetype');
    font-family: 'GothamPro';
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url('fonts/GothamPro-Medium.ttf') format('truetype'), url('fonts/GothamPro-Medium.eot') format('truetype');
    font-family: 'GothamPro';
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('fonts/GothamPro-Bold.ttf') format('truetype'), url('fonts/GothamPro-Bold.eot') format('truetype');
    font-family: 'GothamPro';
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url('fonts/Verdana-Bold.ttf') format('truetype'), url('fonts/Verdana-Bold.eot') format('truetype');
    font-family: 'Verdana';
    font-weight: 600;
    font-display: swap;
}

.header {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(123, 123, 126, 0.533)), to(rgba(12, 12, 12, 0.616))), -webkit-gradient(linear, left top, left bottom, from(rgba(87,99,111, 0.5)), to(rgba(87,99,111, 0.6))), url('img/danfoss.jpg') 50% 50% no-repeat;
    background: -o-linear-gradient(bottom, rgba(123, 123, 126, 0.533), rgba(12, 12, 12, 0.616)), -o-linear-gradient(rgba(87,99,111, 0.5), rgba(87,99,111, 0.6)), url('img/danfoss.jpg') 50% 50% no-repeat;
    background: linear-gradient(to top, rgba(123, 123, 126, 0.533), rgba(12, 12, 12, 0.616)), linear-gradient(rgba(87,99,111, 0.5), rgba(87,99,111, 0.6)), url('img/danfoss.jpg') 50% 50% no-repeat;
    background-size: contain;
}

.slick{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.slick-track{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.slick-list{
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
}
@media only screen and (min-width: 1400px) {
    .slick-list{
        max-width: 500px;
    }
}
.slider{
    min-width: 0;
    position: relative;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 45px;
    height: 33px;
    font-size: 0;
    border: none;
}

.slider .slick-arrow.slick-prev{
    left: -7%;
    background: url('img/arrow-l.svg') 0 0 / 100% no-repeat;
    background-size: contain;
}

.slider .slick-arrow.slick-next{
    right: -7%;
    background: url('img/arrow-r.svg') 0 0 / 100% no-repeat;
    background-size: contain;
}
.slider__item {
    text-align: center;
    height: 225px;
}
.slider__item img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.slider .slick-dots{
    z-index: 1;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
}
.slider .slick-dots li.slick-active button{
    background-color: #cd0007;
}
.slider .slick-dots button{
    background-color: transparent;
    font-size: 0;
    border: 1px solid #cd0007;
    -webkit-box-shadow: inset 0 0 0 1px #cd0007;
            box-shadow: inset 0 0 0 1px #cd0007;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 15px;
}
.clients__main {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.clients__main .clients_block:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
}

@media only screen and (max-width: 1200px){
    .clients-slider-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .slick-list{
        max-width: 70%;
    }
    .slider .slick-arrow.slick-next{
        right: 10%;
    }
    .slider .slick-arrow.slick-prev{
        left: 10%;
    }
    .slider {
        margin-top: 20px;
    }
    .slider__item {
        height: 150px;
        width: 80%;
    }
}
@media only screen and (max-width: 767px) {
    .slider__item {
        height: 150px;
    }
    .slider .slick-dots button{
        width: 15px;
        height: 15px;
        margin: 0 7px;
    }
    .slick-list{
        max-width: 250px;
        margin: 0 auto;
    }
    .slider .slick-arrow.slick-next{
        right: 2%;
    }
    .slider .slick-arrow.slick-prev{
        left: 2%;
    }
}


.why_slider form div {
    margin-bottom: 10px;
    width: 100%;
}
.why_slider form {
    padding: 30px 40px;
    background: rgba(182, 187, 194, 0.7);
    border: 3px solid #d50007;
}

@media only screen and (min-width: 320px) {
    .why__main .why_slider {
        width: 90%;
        height: 100%;
        margin-top: 25px;
    }
    .why_slider form{
        padding: 15px 20px;
    }
}

@media only screen and (min-width: 767px) {
    .why__main .why_slider {
        width: 545px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 1200px) {
    .why__main .why_slider {
        width: 475px;
    }
}

.why_slider form .top-text{
    font-size: 24px;
    color: #fff;
    display: table;
    font-family: 'GothamPro';
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 10px;
}
.why_slider form .bottom-text{
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'GothamPro';
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}

.why_slider form div input {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #83919a;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #656568;
    font-family: 'GothamPro';
    font-weight: 300;
    outline: none;
}
.why_slider form div input.invalid{
    border-color: #f00 !important;
    border: 1px solid #f00;
    transition: 0.5s ease;
}
.why_slider form div input.invalid::placeholder { color: red; }

.why_slider form div input[type='submit']{
    border-radius: 10px;
    background-color: #83919a;
    font-size: 16px;
    color: #fff;
    font-family: 'GothamPro';
    font-weight: 600;
    outline: none !important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    position: relative;
    letter-spacing: 1px;
    -webkit-box-shadow: inset 0 0 0 0 #fff;
            box-shadow: inset 0 0 0 0 #fff;
    border: 1px solid #83919a;
}
.why_slider form h2 {
    color: #3f464b;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Verdana';
    font-weight: 600;
    margin-bottom: 15px;
}
.error {
    color: red;
    margin-left: 5px;
}
.why_block video {
    width: 100%;
    height: 400px;
}
.faq__main__item .hipe {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

